<div class="ui container centered">
  <h1>Lesson 1</h1>
  <div class="ui divider"></div>
  <div class="ui form">
    <div class="inline fields">
      <div class="two wide field">
        <input type="number" [(ngModel)]="number1" (change)="calculate()" />
      </div>
      <div class="one inline field">
        <label>{{ operator }}</label>
      </div>
      <div class="two wide field">
        <input type="number" [(ngModel)]="number2" (change)="calculate()" />
      </div>
      <div class="one inline field">
        <label> = </label>
      </div>
      <div class="two wide field">
        <input [(value)]="result" />
      </div>
    </div>
    <div class="inline fields">
      <button class="ui button" (click)="onOperationClick('+')">
        +
      </button>
      <button class="ui button" (click)="onOperationClick('-')">
        -
      </button>
      <button class="ui button" (click)="onOperationClick('*')">
        *
      </button>
      <button class="ui button" (click)="onOperationClick('/')">
        /
      </button>
      <button class="ui button" (click)="onClear()">
        CLEAR
      </button>
    </div>
  </div>
</div>
